# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales 
venv/
.venv/
env/
ENV/

# Configuraciones de VS Code
.vscode/

# Distribución / Paquetes
dist/
build/
*.egg-info/

# Variables de entorno
.env